<div class="container admin-container">
    <div class="title-container">
        <a href="/idea" class="anchor-button">Go back</a>
        <h2 class="title border-right-detail">Admin</h2>
    </div>
    <div class="chart-container">
        {{{renderChart 'columnChart1' labels data 'Collumn Ideas Created per Day'}}} 
        {{{renderLineChart 'lineChart1' labels data 'Line Ideas Created per Day'}}} 
    </div>
    <div class="modules">
        <h3>Modules</h3>
        <ul>
            <li>
                <a href="/admin/idea">Idea</a>
            </li>
            <li>
                <a href="/admin/user">User</a>
            </li>
        </ul>
    </div>
</div>
