<div class="container home-container">
    <div class="title-container">
        <a href="/idea/yours" class="anchor-button">Go to Yours</a>
        <h2 class="title border-right-detail">Ideas</h2>
    </div>
    <div class="search-container">
        <form action="/idea" method="GET">
            <div class="form-control">
                <input type="text" name="search" id="search" placeholder="Search ideas" value="{{search}}">
            </div>
            <button class="button button-submit" type="submit">Search</button>
        </form>
    </div>
    {{#each ideasList}}
        {{> ideaTile idea = this sessionUserId = ../userId}}
    {{/each}}
    {{#if empty}}
        <p class="empty-message">You don't have any ideas, do you want create one ?<a class="anchor-button" href="/idea/create"> click here!</a></p>
    {{/if}}
    {{> renderPagination baseUrl='/idea' currentPage=currentPage totalPages=totalPages }}
</div>