<div class="container dashboard-container">
    <div class="title-container">
        <a href="/idea/create" class="anchor-button">Create a new Idea</a>
        <h2 class="title border-right-detail">Yours</h2>
    </div>
    {{#each ideas}}
        {{> ideaTile idea = this sessionUserId = this.user.id}}
    {{/each}}
    {{#if empty}}
        <p class="empty-message">You don't have any ideas, do you want create one ?<a class="anchor-button" href="/idea/create"> click here!</a></p>
    {{/if}}

     </div>
</div>
