<a class="module-tile-anchor-container" href="{{url}}">
  <div class="module-tile-container">
    <div class="module-tile-header">
      <div class="module-icon">
        <i class="bi {{icon}}"></i>
      </div>
      <h5 class="module-title">{{title}}</h5>
      <p class="module-description">{{description}}</p>
    </div>
  </div>
</a>
