<div class="container admin-container">
    <div class="title-container">
        <a href="/idea" class="anchor-button">Go back</a>
        <h2 class="title border-right-detail">Admin</h2>
    </div>
    <div class="chart-container">
        {{{renderChart 'columnChart1' ideaChartData.labels ideaChartData.data 'Ideas Created per Day'}}} 
        {{{renderLineChart 'lineChart1' userChartData.labels userChartData.data 'New Users per Day'}}} 
    </div>
    <div class="modules-container">
        <h3>Modules</h3>
        <div class="modules">
            {{> adminModuleTile icon='bi bi-people' title='Users' description='Manage users' url='/admin/user'}}
            {{> adminModuleTile icon='bi bi-lightbulb' title='Ideas' description='Manage ideas' url='/admin/idea'}}
        </div>
    </div>
</div>
